<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/iota-technology/cdf-viewer/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>pzFxZPNd0112AVilX3ba6g7vDjeO3WigCjf6sJTjZUM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CDF File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gov.nasa.gsfc.cdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).CDFNSDocument</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NASA Common Data Format</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nasa.gsfc.cdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
